.footer {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: #0033A1; // Fondo azul oscuro
  color: white;

  .social-media-link {
    color: white;

    &:hover {
      color: #1a73e8;
    }
  }
}

