.loginContainer {
  height: 80vh;
  align-items: center;
}

.loginPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.loginTitle {
  color: #0033A1;
  margin-top: 20px;
}

.loginIcon {
  color: #0033A1;
  font-size: 3rem;
}

.submitBtn {
  margin: 20px 0;
}

.createAccBtn {
  color: #0033A1;
}

.logoutBtn {
  color: #ff0000;
}
