.loginContainer {
  display: flex;
  flex-direction: row;    
  align-items: center;
  justify-content: center;
}

.loginPaper {
  padding: 20px;
}

.loginTitle {
  color: #072146;
  margin-top: 20px;
  
}

.loginIcon {
  color: #072146;
  font-size: 3rem;
}

.submitBtn {
  margin: 20px;
  color: #072146 !important;
  margin-top: 10px !important;
}

.createAccBtn {
  color: #072146 !important;
}

.logoutBtn {
  color: #ff0000;
}

